<!DOCTYPE html>
<html lang="en">

<head>
  <title> Goddess Anime Cards :: Authorize </title>
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Goddess Anime Cards">
  <meta property="og:title" content="Authorize A Developer Application">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="Goddess Anime Cards">
  <meta name="twitter:creator" content="Goddess Anime Cards">
  <meta name="twitter:card" content="summary_large_image">
  <meta content="#43B581" data-react-helmet="true" name="theme-color" />
  <link rel="stylesheet" href="https://getbootstrap.com/docs/5.3/dist/css/bootstrap.min.css">
  <script src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js"></script>

  <style>
    body {
      background-image: linear-gradient(180deg, var(--bs-body-secondary-bg), var(--bs-body-bg) 100px, var(--bs-body-bg));
    }

    .container {
      max-width: 960px;
    }

    .pricing-header {
      max-width: 700px;
    }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      width: 100%;
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }

    .btn-bd-primary {
      --bd-violet-bg: #712cf9;
      --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

      --bs-btn-font-weight: 600;
      --bs-btn-color: var(--bs-white);
      --bs-btn-bg: var(--bd-violet-bg);
      --bs-btn-border-color: var(--bd-violet-bg);
      --bs-btn-hover-color: var(--bs-white);
      --bs-btn-hover-bg: #6528e0;
      --bs-btn-hover-border-color: #6528e0;
      --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
      --bs-btn-active-color: var(--bs-btn-hover-color);
      --bs-btn-active-bg: #5a23c8;
      --bs-btn-active-border-color: #5a23c8;
    }

    .bd-mode-toggle {
      z-index: 1500;
    }
  </style>

  <style>
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</head>

<body class="bg-light">


  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check" viewBox="0 0 16 16">
      <title>Check</title>
      <path
        d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
    </symbol>
  </svg>

  <div class="container py-3">
    <header>
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">
          <%= application.name %>
        </h1>
        <p class="fs-5 text-body-secondary">
          <%= application.description %>
        </p>
      </div>
    </header>

    <main>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col center">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Authentication</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">
                <!-- Show a rounded circle -->
                <img src="<%= application.icon %>" alt="..." class="rounded-circle" width="140" height="140">
              </h1>
              <ul class="list-unstyled mt-3 mb-4">
                <% application.permissions.forEach(permission=> { %>
                  <li>
                    <%= permission.replace(/_/g, " " ).replace(/\w\S*/g, w=> w.charAt(0).toUpperCase() +
                      w.slice(1).toLowerCase()) %>
                  </li>
                  <% }) %>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-primary" data-bs-toggle="modal"
                data-bs-target="#authModal">Authenticate</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="authModalLabel">Are you sure you want to authenticate?</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you <strong>absolutely</strong> sure you want to authenticate with <strong>
                <%= application.name %>
              </strong>?<br>
              <br>
              <div class="alert alert-danger" role="alert">
                <strong>Warning!</strong> This application will have access to your account!
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" id="authenticate">Authenticate</button>
            </div>
          </div>
        </div>
      </div>

      <script>
      
        const authenticate = document.getElementById("authenticate");

        authenticate.addEventListener("click", () => {
          alert("YOU SHOULD NOT BE HERE")
        });

      </script>

    </main>
  </div>
</body>

</html>