<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Goddess Anime Cards :: Guide - <%= document.title %>
    </title>
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Goddess Anime Cards">
    <meta property="og:title" content="Goddess Anime Cards :: Guide - <%= document.title %>">
    <meta property="og:image" content="<%= document.image %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="Goddess Anime Cards">
    <meta name="twitter:creator" content="Goddess Anime Cards">
    <meta name="twitter:card" content="summary_large_image">
    <meta content="#43B581" data-react-helmet="true" name="theme-color" />
    <style>
        code {
            color: #fff;
        }
    </style>
</head>



<body>
    <%- include ("../templates/header.ejs") %>

        <!-- main content -->
        <main class="main">
            <div class="container">
                <div class="row row--grid">
                    <!-- breadcrumb -->
                    <div class="col-12">
                        <ul class="breadcrumb">
                            <li class="breadcrumb__item"><a href="/">Home</a></li>
                            <li class="breadcrumb__item"><a href="/guide">Guide</a></li>
                            <li class="breadcrumb__item breadcrumb__item--active">
                                <%= document.title %>
                            </li>
                        </ul>
                    </div>
                    <!-- end breadcrumb -->

                    <div class="col-12 col-xl-10 offset-xl-1">
                        <div class="article">
                            <!-- article content -->
                            <div class="article__content">
                                <img src="<%= document.image %>" alt="">

                                <div class="article__meta">
                                    <a href="#" class="article__category" id="views">
                                        <%= views %> views
                                    </a>

                                    <span class="article__date center"><svg xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 24 24">
                                            <path
                                                d="M12,2A10,10,0,1,0,22,12,10.01114,10.01114,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8.00917,8.00917,0,0,1,12,20ZM14.09814,9.63379,13,10.26807V7a1,1,0,0,0-2,0v5a1.00025,1.00025,0,0,0,1.5.86621l2.59814-1.5a1.00016,1.00016,0,1,0-1-1.73242Z" />
                                        </svg>
                                        <%= document.date %>
                                    </span>
                                </div>

                                </br>
                                </br>
                                </br>

                                <%- document.content %>
                            </div>
                            <!-- end article content -->

                            <!-- comments -->
                            <div class="comments">
                                <div class="comments__title">
                                    <h4>Comments</h4>
                                    <span id="comments_count">
                                        <%= comments.length %>
                                    </span>
                                </div>

                                <ul class="comments__list">
                                    <% comments.forEach(comment=> { %>
                                        <li class="comments__item">
                                            <div class="comments__autor">
                                                <img class="comments__avatar" src="<%= comment.user.avatar %>"
                                                    alt="<%= comment.user.username %>"
                                                    title="<%= comment.user.username %>">
                                                <span class="comments__name">
                                                    <%= comment.user.username %>
                                                </span>
                                            </div>
                                            <p class="comments__text">
                                                <%= comment.text %>
                                            </p>
                                        </li>
                                        <% }) %>
                                </ul>

                                <form action="#" class="comments__form">
                                    <div class="sign__group">
                                        <textarea id="text" name="text" class="sign__textarea"
                                            placeholder="Add comment"></textarea>
                                    </div>
                                    <button type="button" class="sign__btn" id="post_comments">Send</button>
                                </form>
                            </div>
                            <!-- end comments -->
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- end main content -->

        <%- include ("../templates/footer.ejs") %>



            <!-- <script>
                const name_author = document.getElementById("name_author");
                const author_date = document.getElementById("author_date");

                let date = Math.floor(Date.parse("") / 1000);

                name_author.addEventListener("click", () => {
                    window.location.href = "/user/"
                });

                const setTime = () => {
                    const createdDate = new Date("");
                    // Make it local time
                    createdDate.setHours(createdDate.getHours() - 4);

                    // Set the time
                    author_date.innerHTML = createdDate.toLocaleString();
                }

                setTime();
            </script> -->




            </div>
            </div>

            <script>
                const requestProtocol = window.location.protocol;
                const requestHost = window.location.host;



                fetch(`/guide-data/update-views`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        guide_slug: "<%= document.id %>"
                    })
                }).then(res => res.json()).then(data => {
                    document.getElementById("views").innerHTML = `${data.views} views`;
                }).catch(err => {
                    console.log(err);
                });

                // Check if the user is logged in
                const user = "<%= isLogged %>";

                // if (!user) {
                //     const post_comment_button = document.getElementById("post_comments");

                //     // Set it to disabled
                //     post_comment_button.innerHTML = "Login to comment";

                //     // Make it so the user can't click it
                //     post_comment_button.disabled = true;
                //     post_comment_button.style.cursor = "not-allowed";
                //     post_comment_button.style.backgroundColor = "#2f3136";
                //     post_comment_button.style.color = "#fff";
                // }

                     const post_comment_button = document.getElementById("post_comments");
                     const post_comment_text = document.getElementById("text");

                    // Set it to disabled
                    post_comment_button.innerHTML = "Currently Disabled";

                    // Make it so the user can't click it
                    post_comment_button.disabled = true;
                    post_comment_button.style.cursor = "not-allowed";
                    post_comment_button.style.backgroundColor = "#2f3136";
                    post_comment_button.style.color = "#fff";

                    post_comment_text.disabled = true;
                    post_comment_text.style.cursor = "not-allowed";
                    post_comment_text.innerText = "Currently Disabled";
            </script>


</body>

</html>